.Container{
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-spacing: 10;
}

.Subject {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-stroke-width: 3;
    -fx-stroke-color: gold;
}

.Button {
    -fx-background-color: darkblue;
    -fx-text-fill: black;
    -fx-pref-width: 200;
    -fx-font-size: 20;
}